[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytelegrambotapi = "*"
aiorun = "*"
aiohttp = "*"
pydantic = "<2.0.0"
pymotyc = "*"
motor = "*"
qrcode = {extras = ["pil"], version = "*"}

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.1"
